/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

p {
  font-size: 1.37rem;
  font-weight: 400;
}
