/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: #393939;
}

p {
  font-size: 1.37rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  background: #fff0ed;
  text-decoration: none;
}
.main-navigation__logo-link, .main-navigation__logo-link:visited {
  color: #393939;
}
.main-navigation__icon {
  min-width: 50px;
  max-width: 120px;
  padding-left: 20px;
}
.main-navigation__subheading {
  font-size: 3.75rem;
  font-weight: 300;
  display: inline-block;
  color: #393939;
}
.main-navigation__list {
  list-style-type: none;
}
.main-navigation__item {
  padding: 2rem 1.25rem 1.5rem 1.25rem;
}
.main-navigation__list, .main-navigation__item {
  display: inline-block;
}
.main-navigation__link, .main-navigation__link--highlighted {
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}
.main-navigation__link, .main-navigation__link:visited {
  color: #393939;
}
.main-navigation__link--highlighted {
  color: #5bacc3;
}

.hero-section {
  background: #fff0ed;
}
.hero-section__intro-card {
  display: inline-block;
  width: 25rem;
  font-size: 1rem;
  margin-left: 8%;
  margin-bottom: 10%;
}
.hero-section__image {
  margin: 3% 0 -7% 32%;
  height: 37.5rem;
}
.hero-section__main-header {
  font-size: 3.75rem;
  font-weight: 300;
}
.hero-section__main-header, .hero-section__description {
  padding-bottom: 1.25rem;
}
.hero-section__btn-blue {
  background: #5bacc3;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  font-family: "open sans";
  font-weight: 400;
  padding: 0.62rem 2.5rem 1.24rem 2.5rem;
  margin-top: 1.25rem;
  position: relative;
  width: 210px;
  height: 62.55px;
}
.hero-section__btn-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: -10px;
  border: 2px solid #393939;
  width: 100%;
  height: 100%;
}
.hero-section__btn-overlay:active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid #393939;
  width: 100%;
  height: 100%;
}

.products {
  text-align: center;
  background: #f7f7f7;
}
.products__flex-container {
  display: inline-flex;
  justify-content: space-around;
  width: 75%;
}
.products__header {
  padding: 1.25rem;
  font-size: 3.75rem;
  font-weight: 300;
}
.products__card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
}
.products__card, .products__card2 {
  min-width: 22.62rem;
  max-width: 21.87rem;
  min-height: 27.5rem;
  max-height: 28.75rem;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  margin: 1.25rem 2.5rem;
}
.products__flex-subcard {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height: 30%;
  background: #fff0ed;
}
.products__image {
  margin: auto;
}
.products__name {
  font-size: 2.06rem;
  font-weight: 400;
  background: #fff0ed;
}
.products__name, .products__price {
  margin: 0;
  background: #fff0ed;
}
.products__price, .products__price--first-child {
  color: #5bacc3;
  font-size: 2rem;
  font-weight: 700;
  margin: 50% 0;
}
.products__price--first-child {
  margin-top: 30%;
  margin-bottom: 70%;
}
.products__subFlex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #fff0ed;
  border-radius: 0 0 10px 10px;
  border: 10px solid transparent;
}
.products__subflex--adjusted {
  padding-bottom: 0;
}
.products__btn-blue {
  background: #5bacc3;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  font-family: "open sans";
  font-weight: 400;
  padding: 0.62rem 2.5rem 1.24rem 2.5rem;
  margin-top: 1.25rem;
  position: relative;
  width: 210px;
  height: 62.55px;
  margin-top: 3.25rem;
  margin-bottom: 4rem;
}
.products__btn-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: -10px;
  border: 2px solid #393939;
  width: 100%;
  height: 100%;
}
.products__btn-overlay:active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid #393939;
  width: 100%;
  height: 100%;
}
.products__first-sub-child {
  text-align: left;
}
.products__prod-desc {
  color: #909090;
}

.discount {
  margin: 7rem 0;
  width: 100%;
  text-align: center;
}
.discount__text {
  box-sizing: content-box;
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  background: #393339;
  color: #fff;
  padding: 40px 0;
  width: 77%;
  margin: auto;
  animation: pulse 2.5s alternate infinite;
}
@keyframes pulse {
  from {
    background: #393939;
  }
  to {
    background: #5bacc3;
  }
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.learn-more__left-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 27.25rem;
  font-size: 1rem;
  margin-left: 8%;
  margin-top: 100px;
}
.learn-more__description {
  padding: 20px 0;
}
.learn-more__main-header {
  font-size: 3.75rem;
  font-weight: 300;
}
.learn-more__icon-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.learn-more__icon {
  min-width: 3.12rem;
  max-width: 7.5rem;
  width: 50px;
  height: 50px;
}
.learn-more__btn-blue {
  background: #5bacc3;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  font-family: "open sans";
  font-weight: 400;
  padding: 0.62rem 2.5rem 1.24rem 2.5rem;
  margin-top: 1.25rem;
  position: relative;
  width: 210px;
  height: 62.55px;
}
.learn-more__btn-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: -10px;
  border: 2px solid #393939;
  width: 100%;
  height: 100%;
}
.learn-more__btn-overlay:active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid #393939;
  width: 100%;
  height: 100%;
}
.learn-more__main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/coldbrewbackground.png") center center/cover;
  width: 27.25rem;
  height: 22.25rem;
  margin-right: 8%;
  margin-top: 40px;
  position: relative;
}
.learn-more__main-image::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  left: -20px;
  border: 4px solid #5bacc3;
  width: 100%;
  height: 100%;
}
.learn-more__tilt-can {
  width: 152px;
  height: 277px;
  z-index: 1;
}
.learn-more__tilt-can:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.business-info {
  background: #fff0ed;
  position: relative;
  overflow: hidden;
}
.business-info__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-bottom: 60px;
  padding-top: 20px;
}
.business-info__address, .business-info__hours, .business-info__social {
  text-align: left;
}
.business-info__headings {
  text-align: left;
  padding-top: 1.25rem;
  margin: 1.25rem 1.25rem 1.25rem 0;
  font-size: 2.06rem;
  font-weight: 400;
}
.business-info__hours-em {
  font-weight: bold;
}
.business-info__icon {
  min-width: 3.12rem;
  max-width: 7.5rem;
}
.business-info__bean {
  position: absolute;
}
.business-info__bean-image1 {
  position: absolute;
  top: 20px;
  left: -30px;
  width: 120px;
  height: 120px;
  opacity: 0.3;
}
.business-info__bean-image2 {
  position: absolute;
  top: 60px;
  left: 1280px;
  width: 120px;
  height: 120px;
  opacity: 0.3;
}

/*# sourceMappingURL=landing.css.map */
